* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header,
footer {
    flex: none;
    align-content: center;
    text-align: center;
    background-color:  hsl(300, 20%, 97%);
}

header {
    height: 72px; 
    box-shadow: 0px 3px 3px 0px rgb(189, 189, 189);
    color: rgb(65, 65, 65);
    font-size: 38px;
    font-weight: 900;
    border-bottom: 2px solid rgb(223, 223, 223);

}

footer {
    height: 48px;
    border-top: 2px solid rgb(223, 223, 223);

}

main {
    display: flex;
    flex: 1;
}

aside {
    display: flex;
    flex-direction: column;
    max-width: 250;
    min-width: 100px;
    flex: 0 1 250;
    padding: 24px;
    gap: 15px;
    align-items: center;
    background-color:  hsl(300, 20%, 97%);
    border: 2px solid rgb(223, 223, 223);
    box-shadow: 1px 1px 3px 0px rgb(189, 189, 189);

}

footer {
    box-shadow: 1px 0px 3px 0px rgb(189, 189, 189);
}

button {
    width: 140px;
    height: 42px;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 900;
    color: #fffffe;
    background-color: lightskyblue;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgb(189, 189, 189);
    opacity: 90%;
}

button:hover {
    opacity: 100%;
}

.gridSizeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.gridSizeWrap {
    display: flex;
    gap: 5px;
}
.gridSizeWrap > button {
    width: 50px;
}

.labelGridSizes {
    display: block;
}

.btnGridSmall,
.btnGridMedium,
.btnGridLarge {
    width: 80px;
    height: 36px;
}

.content {
    display: flex;
    flex: 3;
    background-color:  hsl(300, 1%, 99%);

}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    margin: auto;
    outline: 5px solid rgb(180, 180, 180);
    background-color: white;
    box-shadow: 9px 9px 1px rgb(124, 124, 124);
}

.test {
    width: 50px;
    height: 50px;
    background-color: hsl(0, 100%, 50%);
}

.outlined {
    outline: 1px solid rgb(180, 180, 180);    
}

.square {
    /* grow to fill container space left */
    flex: 1 1 auto;
}

#btnColorful {
    background-image: linear-gradient(to right, rgb(240, 42, 42),rgb(245, 241, 15),rgb(41, 236, 123),rgb(80, 69, 238),rgb(233, 77, 233)); 
}

#btnGrayScale {
    background-color: rgb(190, 190, 190);
}

#btnBlackWhite {
    background-image: linear-gradient(to right, rgb(51, 51, 51),rgb(255, 255, 255)); 
}

#btnLightning {
    background-image: radial-gradient(rgb(168, 168, 168), rgb(121, 121, 121), rgb(65, 65, 65));
}

#btnShading {
    background-image: radial-gradient(rgb(50, 50, 50), rgb(90, 90, 90), rgb(165, 165, 165));
}

#btnChangeGrid {
    display: none;
}

#pickColor {
    width: 140px;
    height: 50px;
    padding: 3px 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgb(189, 189, 189);
    opacity: 90%;
}

label {
    font-size: 20px;
    font-weight: 900;
}

p,
div,
label,
footer {
    color: rgb(65, 65, 65);
}

#pickColor:hover {
    opacity: 100%;
}

.pickColorContainer {
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
}

#gridRangeContainer {
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
}